.icon
  font-family: FontAwesome

  &.load:after
    content: '\F01D'

  &.loaded:after
    content: '\F144'
    
  &.add:after
    content: '\F067'

  &.delete:after
    content: '\F014'

  &.save:after
    content: '\F0C7'

  &.play:after
    content: '\F04B'

  &.reset:after
    content: '\F048'
