input[type=text]
  border: 0
  outline: 0

  padding: 0 0.5em
  border-radius: 0.2em
  border-bottom: 1px dotted


  background-color: transparent
  color: $light-yellow

  font-size: 1em
  font-size: inherit

  &:hover, &:focus, &:active
    background-color: $light-yellow
    color: $dark-blue
