!!! 5
%html{ lang: I18n.locale, manifest: '/application.manifest' }
  %head
    %title Essence
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }

    = csrf_meta_tags

    %link{ rel: 'shortcut icon', href: '/favicon.ico' }
    %link{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }

    = stylesheet_link_tag 'application'
    - if Rails.env.test?
      = javascript_include_tag 'spec/sinon'

    %body
      #container

    = javascript_include_tag 'application'

    :javascript
      $(function() {
        window.Essence.application = new Essence.Application();

        Essence.application.start();
      });
