#container > .timelet > article.timelets

  section.clock
    width: 100%
    float: left
    clear: both

    padding-bottom: 20px

    .title
      display: inline-block
      height: 2em
      padding: 20px 0

      .save
        display: none
        &:after
          content: '\F0C7'

    .timer
      font-size: 50px
      vertical-align: bottom

      .time
        padding: 10px
        border-radius: 10px
        outline: none
        background-color: $dark-blue
        font-family: monospace

      .play
        &:after
          content: '\F04B'

      .reset
        &:after
          content: '\F048'

      &.running
        .play
          &:after
            content: '\F04C'

  section.timelets
    width: 100%
    float: left

    ul
      list-style: none

      .load:after
        content: '\F01D'

      .add:after
        content: '\F067'

      .delete:after
        content: '\F00D'
