#container > .timelet > article.timelets

  section
    width: 50%

    @media screen and (max-width: $tablet-size)
      width: 100%

    &> div
      margin: 2em 1em

  section.clock
    float: left
    text-align: center

    .title
      span
        display: inline-block
        min-height: 1em

      .save
        display: none
        &:after
          content: '\F0C7'

    .timer
      .time
        display: inline-block

        min-width: 2ex
        padding: 0.3em

        border-radius: 0.1em
        outline: none
        background-color: $dark-blue

        border-bottom: none

        font-size: 4em
        font-family: monospace
        font-weight: bold

    .controls
      font-size: 2em
      padding: 0.5em 0

      .play
        &:after
          content: '\F04B'

      .reset
        &:after
          content: '\F048'

    .running
      .controls
        .play
          &:after
            content: '\F04C'

      .timer .time
        box-shadow: 0 0 0.3em $dark-blue
        text-shadow: $light-yellow 0 0 0.1em

  section.timelets
    float: left

    ul
      list-style: none
      padding-left: 1em

      .load:after
        content: '\F01D'

      .loaded:after
        content: '\F144'

      .add:after
        content: '\F067'

      .delete:after
        content: '\F00D'
