#container > .timelet

  article.clock
    width: 100%
    float: left

    section.timelet
      float: left
      clear: both

      padding-bottom: 20px

      .title
        height: 2em
        padding: 20px 0

        .save
          display: none

      .timer
        font-size: 50px
        vertical-align: bottom

        .time
          font-family: monospace
          background-color: $dark-blue
          padding: 10px
          border-radius: 10px

  article.timelets
    width: 100%
    float: left
